version: '3.6'

services:
  backend:
    image: fabreguesm/sistema_rrhh_back:1.0.64
    deploy:
      placement:
        constraints: ["${NODE}"]  
    environment:
      - DB_HOST=10.250.0.68
      - DB_PORT=5002
      - DB_USER=root
      - DB_PASSWORD=Flexxus2023**
      - DB_NAME=sistema_rrhh
      - JWT_SECRET=your_jwt_secret_key_minimum_32_chars
      - FRONTEND_URL=http://10.250.0.68:3002
      - EMAIL_ENABLED=false
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USER=your_email@domain.com
      - SMTP_PASS=your_app_password
      - TZ=America/Argentina/Cordoba
      - VPN_ENDPOINT_INTERNAL=https://10.150.253.253/api/?type=op&cmd=%3Cshow%3E%3Cglobal-protect-gateway%3E%3Ccurrent-user%3E%3Cgateway%3EGW-FLX_Internal%3C/gateway%3E%3C/current-user%3E%3C/global-protect-gateway%3E%3C/show%3E&key=LUFRPT14bmhIMG8vVkVQR25rbFI2L1FCTlp0MEs5dGc9Rmx0RzAwREx0anRFakg3cEdYdHppQ3l3NXVCSzZ3L1haeUtvNExISDQ5cDZGVGdjOGV3QnpoSkEvSDEzeGpXOVFPRmEyVkFJQnFhVE5LTG83ejFMckE9PQ==
      - VPN_ENDPOINT_REMOTE=https://10.150.253.253/api/?type=op&cmd=%3Cshow%3E%3Cglobal-protect-gateway%3E%3Ccurrent-user%3E%3Cgateway%3EGW-Flexxus_TELECOM%3C/gateway%3E%3C/current-user%3E%3C/global-protect-gateway%3E%3C/show%3E&key=LUFRPT14bmhIMG8vVkVQR25rbFI2L1FCTlp0MEs5dGc9Rmx0RzAwREx0anRFakg3cEdYdHppQ3l3NXVCSzZ3L1haeUtvNExISDQ5cDZGVGdjOGV3QnpoSkEvSDEzeGpXOVFPRmEyVkFJQnFhVE5LTG83ejFMckE9PQ==
      - VPN_ENDPOINT_PROCOM_REMOTO=https://10.150.253.253/api/?type=op&cmd=%3Cshow%3E%3Cglobal-protect-gateway%3E%3Ccurrent-user%3E%3Cgateway%3EGW-CLARO%3C/gateway%3E%3C/current-user%3E%3C/global-protect-gateway%3E%3C/show%3E&key=LUFRPT14bmhIMG8vVkVQR25rbFI2L1FCTlp0MEs5dGc9Rmx0RzAwREx0anRFakg3cEdYdHppQ3l3NXVCSzZ3L1haeUtvNExISDQ5cDZGVGdjOGV3QnpoSkEvSDEzeGpXOVFPRmEyVkFJQnFhVE5LTG83ejFMckE9PQ==
      - VPN_ENDPOINT_PROCOM_PRESENCIAL=https://10.150.253.253/api/?type=op&cmd=%3Cshow%3E%3Cglobal-protect-gateway%3E%3Ccurrent-user%3E%3Cgateway%3EGW-Internal%3C/gateway%3E%3C/current-user%3E%3C/global-protect-gateway%3E%3C/show%3E&key=LUFRPT14bmhIMG8vVkVQR25rbFI2L1FCTlp0MEs5dGc9Rmx0RzAwREx0anRFakg3cEdYdHppQ3l3NXVCSzZ3L1haeUtvNExISDQ5cDZGVGdjOGV3QnpoSkEvSDEzeGpXOVFPRmEyVkFJQnFhVE5LTG83ejFMckE9PQ==
      - DB_POOL_LIMIT=300
      - DB_ACQUIRE_TIMEOUT_MS=40000
    ports:
      - "3001:3001"
    volumes:
      - backend_uploads:/app/uploads
    networks:
      - traefik
    logging:
      driver: loki
      options:
        loki-url: ${LOKI_URL}  
  frontend:
    image: fabreguesm/sistema_rrhh_front:1.0.62
    deploy:
      placement:
        constraints: ["${NODE}"]  
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.${SERVICE_NAME}.entrypoints=web"
        - "traefik.http.routers.${SERVICE_NAME}.rule=Host(`${DOMAIN_NAME}`)"
        - "traefik.http.middlewares.${SERVICE_NAME}-http.redirectscheme.scheme=https"
        - "traefik.http.routers.${SERVICE_NAME}-https.rule=Host(`${DOMAIN_NAME}`)"
        - "traefik.http.routers.${SERVICE_NAME}-https.entrypoints=https"
        - "traefik.http.routers.${SERVICE_NAME}-https.tls=true"
        - "traefik.http.routers.${SERVICE_NAME}-https.tls.certresolver=myresolver"
        - "traefik.http.services.${SERVICE_NAME}.loadbalancer.server.port=80"      
    environment:
      - REACT_APP_API_BASE_URL=http://10.250.0.68:3001/api
      - TZ=America/Argentina/Cordoba
    ports:
      - "3002:80"
    networks:
      - traefik
    logging:
      driver: loki
      options:
        loki-url: ${LOKI_URL}    
volumes:
  backend_uploads:

networks:
  traefik:
    external:
      name: traefik-network
